@model CxC.Datos.FCCxCBienoServicio

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Bien o Servicio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdBoS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdBoS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DscBoS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DscBoS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdAuxiliar)            
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.IdAuxiliar)*@
            @{
                List<CxC.Datos.FCCxCAuxiliar> Auxiliar = ViewBag.Auxiliar;
                string dscAuxiliar = Auxiliar.FirstOrDefault(a => a.IdAuxiliar == Model.IdAuxiliar).DscAuxiliar.ToString();
            }
            @Html.Label(dscAuxiliar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdConcepto)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.IdConcepto)*@
            @{
                List<CxC.Datos.FCCxCConcepto> periodo = ViewBag.Concepto;
                string dscConcepto = periodo.FirstOrDefault(a => a.IdConcepto == Model.IdConcepto).DscTipo.ToString();
            }
            @Html.Label(dscConcepto)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.FecCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FecCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsrCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsrCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FecUltModif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FecUltModif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsrUltModif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsrUltModif)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Id_SP)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Id_SP)*@
            @{
                List<CxC.Datos.FCCxCStoreProc> SP = ViewBag.SP;
                string dscSP = SP.FirstOrDefault(a => a.Id_SP == Model.Id_SP ).Nom_SP.ToString();
            }
            @Html.Label(dscSP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdBoS  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
