@model IEnumerable<CxC.Datos.FCCxCConcepto>

@{
    ViewBag.Title = "Index";
}

<h2>Lista</h2>

<p>
    @Html.ActionLink("Crear", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdConcepto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DscTipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodEstado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CtaContable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsarExpiracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumDiasExpira)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnviaNotificacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdConcepto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DscTipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodEstado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CtaContable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsarExpiracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumDiasExpira)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnviaNotificacion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdConcepto  }) |
            @Html.ActionLink("Detalle", "Details", new { id = item.IdConcepto }) |
            @Html.ActionLink("Borrar", "Delete", new { id = item.IdConcepto })
        </td>
    </tr>
}

</table>
