@model IEnumerable<CxC.Datos.FCCxCSocioTipo>

@{
    ViewBag.Title = "Index";
}

<h2>Socio Tipo</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdTipoDeudor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DscTipoDeudor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdTipoDeudor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DscTipoDeudor)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new {  id=item.IdTipoDeudor   }) |
            @Html.ActionLink("Detalles", "Details", new {id=item.IdTipoDeudor  }) |
            @Html.ActionLink("Borrar", "Delete", new {  id=item.IdTipoDeudor   })
        </td>
    </tr>
}

</table>
