@model CxC.Datos.FCCxCAuxiliar

@{
    ViewBag.Title = "Create";
}

<h2>Crear</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Auxiliar</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
            @Html.LabelFor(model => model.IdAuxiliar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdAuxiliar, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IdAuxiliar, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.DscAuxiliar, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DscAuxiliar, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DscAuxiliar, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CodEstado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.CodEstado, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.DropDownListFor(model => model.CodEstado,(List<SelectListItem>)ViewBag.listaEstado)
                @Html.ValidationMessageFor(model => model.CodEstado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

    <div>
        @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-default" })
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
